<!doctype html>

<body>
    <head>
        <h1>Welcome!</h1>
    </head>
    <div style = "display:flex;">
        <img src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png" width = "160" height = "200"/>
        <img src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" width = "160" height = "200"/>
        <img src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/7.png" width = "160" height = "200"/>
    </div>
    <form action = "/setpokemon" method = "POST">
        <p><input type = "text" name = "nm"/></p>
        <p><input type = "submit" value = "selection"/></p>
    </form>    
</body>
